// Background colours
$backgroundColour: #272727 !default;
$codeBackgroundColour: #3b3b3b !default;
$featureBackgroundColour: #505050 !default;
$accentColour: #ffff00 !default;

// Text colours
$headingColour: #f5f5f5 !default;
$bodyColour: #384743 !default;
$linkColour: #ffff00 !default;
$hoverColour: #ffd900 !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #000000 !default;

@import "alembic";